@charset "UTF-8";

* {margin: 0; padding: 0; vertical-align: top;}

a {text-decoration: none; color: inherit;}

ul {list-style: none;}

.container-fluid {
	padding-right: calc(var(--bs-gutter-x) * 2.5)!important; 
	padding-left: calc(var(--bs-gutter-x) * 2.5)!important;
}
nav {
	height: 150px;
}

.card {}
.card .img-content { height: 200px;}
.card .img-content img { width: 100%; height: 100%; object-fit: cover;}

.card .content {max-height: 200px;}
.card .content h3 {font-size: 20px; font-weight: bold;}
.card .content p {font-size: 14px;}
.card .content .price {font-size: 18px; font-weight: bold;}

video {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : -1;
}
.product_box {width: 100%;; padding: 30px 0; }
.cart_box {width: 100%}
.img_box {width: 100%;}
.name_price_box {width: 100%;}
.cnt_box {width: 100%;}
.img_box>img {height: 200px; width: 200px; object-fit: cover;}